<app-root></app-root>
<div class="bgimg-1">
  <div class="caption">
   <form class="navbar-form navbar-center">
   <h1>Delivers food in minutes</h1>
      <div class="form-group">
          
        <input type="text" class="form-control input-lg" placeholder="Street address, City, Zip">
      </div>
      <button type="submit" class="btn btn-success btn-lg">Find Food</button>
    </form>
	
   <!-- <span class="border">SCROLL DOWN</span>-->
  </div>
</div>

  
<!-- <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;height:700px;text-align: justify"> -->
 <div class="row">
  <div id="section1" class="container-fluid" >
 <h2>Indian Food Everywhere </h2><br>
 <div class="col-xs-12">
    <div class="col-xs-4" style="text-align:center">

  <span class="glyphicon glyphicon-map-marker"></span>
 <h4><b>1. Enter your address</b></h4>
 <p class="one" align="justify">Use search box to discover your local restaurants. DesiDine2Go searches its network of delivery restaurants, and shows you a list of restaurants 
 that deliver to you. Delivery to your home, office or campus, or wherever you may be. </p>
 

</div>
<div class="col-xs-4" style="text-align:center" >
 
  <span class="glyphicon glyphicon-menu-hamburger"></span>
 <h4><b>2. Choose restaurant</b></h4>
 <p class="two" align="justify">Browse food delivery and restaurants menus, read reviews, and enjoy coupons and discounts. You can choose your favourite restaurant, by their distance from you, rating or by reviews left by other customers. </p>
 
 <!-- <button style="background-color:forestgreen;color:white;margin-top:25px;" >Sell Products</button>
<p style="margin-top:15px;" >Or</p>
 <span class="glyphicon glyphicon-phone-alt">  5858555555</span> -->

</div>
<div class="col-xs-4" style="text-align:center;">
  <span class="glyphicon glyphicon-cutlery"></span>
  <h4><b>3. Order your food!</b></h4>
  <p class="three" id="three" align="justify">View the menu, choose delicious items you like and place your order online. It's as easy as one, two, three! This is much better than ordering over the phone. Like we always say, "Don't be on hold, be online." </p>
  
 
  
</div>

</div>     

   <button id="btn" type="button"  class="btn btn-success btn-lg center-block">Order here</button>   
    
  </div>

</div>






<div class="bgimg-2">
  <div class="caption">
    <div class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"></div>
  </div>
  
</div>

  <div class="slide" style="position:relative;color:#ddd;background-color:white;text-align:center;padding:50px 80px;height:450px;text-align: justify;">
  <div><p style="float: right; padding: 90px; "><img src="http://placekitten.com/g/200/200" height="400px" width="500px" border="1px"></p>
<p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text  Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
</div>

</div> 
 
 
   


<!--<div class="bgimg-3">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">SCROLL UP</span>
  </div>
    <div class="img1"><img src ="http://static1.uk.businessinsider.com/image/57625a769105844d018c9686-800/9%20recieve%20an%20notification%20when%20your%20food%20has%20arrived.png" width:"200px" height:"400px"></div>

</div>-->

<!--<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
  </div>
</div>

<div class="bgimg-1">
  <div class="caption">
    <span class="border">COOL!</span>
  </div>
</div>-->
 <!-- <div id="footer" style="background-color:#333333">
            <div class="container">
              <div class="row">
                  <div class="col-md-12">
              
                <div class="footer_sub">
                    <h3>Our Story</h3>
                   
                </div>
                <div class="footer_sub_2">
                    <div class="container">
                      <div class="item1">
                        <h3>Specials</h3>
                        <ul>
                            <li><a href="#">Special1</a></li>
                            <li><a href="#">Special1</a></li>
                            <li><a href="#">Special1</a></li>
                            <li><a href="#">Special1</a></li>
                            <li><a href="#">Special1</a></li>
                            <li><a href="#">Special1</a></li>
                            <li><a href="#">Special1</a></li>
                        </ul>
                    </div>
                      <div class="item2">
                        <h3>Restraunts</h3>
                        <ul>
                            <li><a href="#">restaurant1</a></li>
                            <li><a href="#">restaurant1</a></li>
                            <li><a href="#">restaurant1</a></li>
                            <li><a href="#">restaurant1</a></li>
                            <li><a href="#">restaurant1</a></li>
                            <li><a href="#">restaurant1</a></li>
                            <li><a href="#">restaurant1</a></li>
                        </ul>
                    </div>
                </div>
                  </div>
                <div class="footer_sub_2">
                    
                        <h3>Social Links</h3>
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Google+</a></li>
                            <li><a href="#">Youtube</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Linkdin</a></li>
                            <li><a href="#">Blogger</a></li>
                            <li><a href="#">Digg</a></li>
                        </ul>
                 
                </div>
                      <hr>
                <div class="footer_sub_3">
                    
                        <h2>Subscribe Us</h2>
                        <input type="text" name="subs" placeholder="Write your e-mail" class="subs">
                        <input type="submit" name="submit_btn" value="Subscribe" class="sub_btn">
                        <p class="sub_p">Enter your e-mail id for get notification by us.</p>
                    
                </div>
            </div>
        </div>


        </div>
        </div> -->
     

<div id="section2" class="container-fluid">
  </div>
